<!DOCTYPE html>
<html>
<head>
    <title>Add Transfer</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>

<body>
    <div class="container">
        <h1>Add Transfer</h1>
        <div id="form_container">
            <!-- Transfer item structure -->
            <div class="form-group row transfer-item">
                <div class="col-sm-3">
                    <input type="text" class="form-control" name="item" placeholder="Item">
                </div>
                <div class="col-sm-3">
                    <select class="form-control" name="location">
                        <option value="14th">14th</option>
                        <option value="8th">8th</option>
                    </select>
                </div>
                <div class="col-sm-3">
                    <input type="text" class="form-control" name="amount" placeholder="Amount">
                </div>
                <div class="col-sm-3">
                    <input type="text" class="form-control date" name="date" placeholder="Date">
                </div>
            </div>
        </div>
        <button id="add_item_button" class="btn btn-primary" type="button">Add Item</button>
        <button id="submit_transfer_button" class="btn btn-primary" type="button">Submit Transfer</button>
    </div>

    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>

</html>